In [1]:
import pandas as pd

In [6]:
# ------------------------------------ Cleanup CSV files --------------------------------------------------------

# Get sources of raw data for cleanup
species_filename1 = "../Data/Clean/Monarch/Monarch_clean.csv"
species_filename2 = "../Data/Clean/Whale/Blue_Whale.csv"
species_filename3 = "../Data/Clean/Whale/Humpback_whale.csv"
species_filename4 = "../Data/Clean/Tern/Arctic Tern.csv"

# Reading csv files
df_monarch = pd.read_csv(species_filename1)
df_blue_whale = pd.read_csv(species_filename2)
df_humpback_whale = pd.read_csv(species_filename3)
df_arctic_tern = pd.read_csv(species_filename4)

In [7]:
df_monarch.head()

,id,observed_on_string,observed_on,quality_grade,license,latitude,longitude,positional_accuracy,scientific_name,common_name
0,621484,4/12/2014 16:09,4/12/2014,research,CC-BY-NC,35.511898,-93.323380,27.0,Danaus plexippus,Monarch
1,768989,6/29/2014,6/29/2014,research,CC-BY-NC,35.513389,-93.326598,3.0,Danaus plexippus,Monarch
2,837014,8/17/2014,8/17/2014,research,CC-BY-NC,35.507590,-93.315497,13.0,Danaus plexippus,Monarch
3,866569,9/7/2014,9/7/2014,research,CC-BY-NC,35.512094,-93.326470,27.0,Danaus plexippus,Monarch
4,875141,9/13/2014,9/13/2014,research,CC-BY-NC,35.513659,-93.318597,3.0,Danaus plexippus,Monarch

In [8]:
df_blue_whale.head()

,event-id,timestamp,location-long,location-lat,individual-taxon-canonical-name,tag-local-identifier,individual-local-identifier
0,8393723602,1994-09-15 01:53:29.000,-123.288,37.554,Balaenoptera musculus,1994CA-ST10-10823,1994CA-Bmu-10823
1,8393723603,1994-09-15 03:22:44.000,-122.581,37.440,Balaenoptera musculus,1994CA-ST10-10823,1994CA-Bmu-10823
2,8393723604,1994-09-15 04:06:31.000,-123.611,37.693,Balaenoptera musculus,1994CA-ST10-10823,1994CA-Bmu-10823
3,8393723605,1994-09-15 12:35:24.000,-122.977,37.880,Balaenoptera musculus,1994CA-ST10-10823,1994CA-Bmu-10823
4,8393723606,1994-09-15 16:21:18.000,-123.162,37.760,Balaenoptera musculus,1994CA-ST10-10823,1994CA-Bmu-10823

In [10]:
df_humpback_whale.head()

,geom,oid,longitude,latitude,providers,species,datasets,date_min,date_max,num_records,num_animals,csquare,geom_wkt
0,0103000020E61000000100000005000000000000000060...,5823119,-180,-17,Wildlife Conservation Society,Megaptera novaeangliae,885,8/1/1913,8/1/1913,1,1.0,5117:479,"POLYGON((-179 -17,-179 -18,-180 -18,-180 -17,-..."
1,0103000020E61000000100000005000000000000000060...,180494,-180,61,National Marine Mammal Laboratory,Megaptera novaeangliae,821,7/18/2008,7/18/2008,2,2.0,7617:209,"POLYGON((-179 60,-180 60,-180 61,-179 61,-179 ..."
2,0103000020E61000000100000005000000000000000060...,180338,-180,62,National Marine Mammal Laboratory,Megaptera novaeangliae,821,7/31/2010,7/31/2010,1,3.0,7617:229,"POLYGON((-179 62,-180 62,-180 63,-179 63,-179 ..."
3,0103000020E61000000100000005000000000000000040...,180589,-178,60,National Marine Mammal Laboratory,Megaptera novaeangliae,821,7/29/2010,7/30/2010,5,6.0,7517:498,"POLYGON((-178 59,-179 59,-179 60,-178 60,-178 ..."
4,0103000020E61000000100000005000000000000000020...,5823772,-177,-23,Wildlife Conservation Society,Megaptera novaeangliae,885,10/1/1913,10/1/1913,3,3.0,5217:237,"POLYGON((-177 -23,-177 -24,-178 -24,-178 -23,-..."

In [ ]:
df_arctic_tern.head()