In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
import time
from scipy.misc import imread

In [2]:
# ------------------------------------ Cleanup CSV files --------------------------------------------------------

# Get sources of raw data for cleanup
species_filename1 = "../Data/Clean/Monarch/Monarch_clean.csv"
species_filename2 = "../Data/Clean/Whale/Blue_Whale.csv"
species_filename3 = "../Data/Clean/Whale/Humpback_whale.csv"
species_filename4 = "../Data/Clean/Tern/Arctic Tern.csv"

# Reading csv files
df_monarch = pd.read_csv(species_filename1)
#df_blue_whale = pd.read_csv(species_filename2)
#df_humpback_whale = pd.read_csv(species_filename3)
df_arctic_tern = pd.read_csv(species_filename4)

In [3]:
df_humpback_whale.head()

,geom,oid,longitude,latitude,providers,species,datasets,date_min,date_max,num_records,num_animals,csquare,geom_wkt
0,0103000020E61000000100000005000000000000000060...,5823119,-180,-17,Wildlife Conservation Society,Megaptera novaeangliae,885,8/1/1913,8/1/1913,1,1.0,5117:479,"POLYGON((-179 -17,-179 -18,-180 -18,-180 -17,-..."
1,0103000020E61000000100000005000000000000000060...,180494,-180,61,National Marine Mammal Laboratory,Megaptera novaeangliae,821,7/18/2008,7/18/2008,2,2.0,7617:209,"POLYGON((-179 60,-180 60,-180 61,-179 61,-179 ..."
2,0103000020E61000000100000005000000000000000060...,180338,-180,62,National Marine Mammal Laboratory,Megaptera novaeangliae,821,7/31/2010,7/31/2010,1,3.0,7617:229,"POLYGON((-179 62,-180 62,-180 63,-179 63,-179 ..."
3,0103000020E61000000100000005000000000000000040...,180589,-178,60,National Marine Mammal Laboratory,Megaptera novaeangliae,821,7/29/2010,7/30/2010,5,6.0,7517:498,"POLYGON((-178 59,-179 59,-179 60,-178 60,-178 ..."
4,0103000020E61000000100000005000000000000000020...,5823772,-177,-23,Wildlife Conservation Society,Megaptera novaeangliae,885,10/1/1913,10/1/1913,3,3.0,5217:237,"POLYGON((-177 -23,-177 -24,-178 -24,-178 -23,-..."

In [ ]:
arctic_adj = df_arctic_tern.dropna(subset = ['latitude','longitude','date_min'])
arctic_adj['year'] = pd.DatetimeIndex(arctic_adj['date_min']).year
arctic_adj['month']= pd.DatetimeIndex(arctic_adj['date_min']).month
arctic_1969 = arctic_adj.loc[arctic_adj['year'] == 1969]
arctic_1970 = arctic_adj.loc[arctic_adj['year'] == 1970]
arctic_1971 = arctic_adj.loc[arctic_adj['year'] == 1971]
arctic_1972 = arctic_adj.loc[arctic_adj['year'] == 1972]
arctic_1973 = arctic_adj.loc[arctic_adj['year'] == 1973]

arctic_1969.count()
# Convert String column into Date/Time column in DF
# df_arctic_tern['date_time'] = pd.to_datetime(df_arctic_tern['date_time'])
# df_arctic_tern["date"] = df_arctic_tern["date_time"].dt.strftime("%d/%m/%Y")
# time_series = pd.DataFrame(df_arctic_tern['date_time'].value_counts().reset_index())
# time_series.columns = ['date', 'count']
# time_series.head()

In [ ]:
plt.scatter(arctic_1969.month,arctic_1969.latitude,s=300,alpha = 0.75,color = 'purple',edgecolor = 'black',linewidth=0.75)
plt.scatter(arctic_1970.month,arctic_1970.latitude,s=200,alpha = 0.75,color = 'green',edgecolor = 'black',linewidth=0.75)
plt.scatter(arctic_1971.month,arctic_1971.latitude,s=150,alpha = 0.75,color = 'yellow',edgecolor = 'black',linewidth=0.75)
plt.scatter(arctic_1972.month,arctic_1972.latitude,s=100, alpha = 0.5,color = 'blue',edgecolor = 'black',linewidth=0.75)
plt.scatter(arctic_1973.month,arctic_1973.latitude,s=50 ,alpha = 0.4,color = 'red',edgecolor = 'black',linewidth=0.75)

In [ ]:
# Plotting the Data - Date/Time vs. Latitude
plt.figure(figsize=(10,6))
plt.scatter(df_arctic_tern["date_min"], df_arctic_tern["latitude"], color='b', alpha=0.5)
plt.grid()
plt.xlabel('Date (min)')
plt.ylabel('Latitude')
plt.title(f'Date/ (min) vs Latitude ({df_arctic_tern["species"][1]})')
# plt.savefig("./output_data/LatVsMaxTemp.png")
plt.show()

In [ ]:
df_humpback_whale.head()

In [ ]:
monarch_adj = df_monarch.dropna(subset = ['latitude','longitude','observed_on'])
monarch_adj['year'] = pd.DatetimeIndex(monarch_adj['observed_on']).year
monarch_adj['month']= pd.DatetimeIndex(monarch_adj['observed_on']).month
monarch_2014 = monarch_adj.loc[monarch_adj['year'] == 2014]
monarch_2015 = monarch_adj.loc[monarch_adj['year'] == 2015]
monarch_2016 = monarch_adj.loc[monarch_adj['year'] == 2016]
monarch_2017 = monarch_adj.loc[monarch_adj['year'] == 2017]
monarch_2018 = monarch_adj.loc[monarch_adj['year'] == 2018]

monarch_2014.count()

In [ ]:
stderr_lon_2017=monarch_2017.longitude.sem(axis=0)
stderr_lat_2017=monarch_2017.latitude.sem(axis=0)
stderr_lon_2018=monarch_2017.longitude.sem(axis=0)
stderr_lon_2018=monarch_2017.latitude.sem(axis=0)

In [ ]:
plt.scatter(monarch_2014.month,monarch_2014.latitude,s=300,alpha = 0.75,color = 'purple',edgecolor = 'black',linewidth=0.75)
plt.scatter(monarch_2015.month,monarch_2015.latitude,s=300,alpha = 0.75,color = 'green',edgecolor = 'black',linewidth=0.75)
plt.scatter(monarch_2016.month,monarch_2016.latitude,s=200,alpha = 0.75,color = 'yellow',edgecolor = 'black',linewidth=0.75)
plt.scatter(monarch_2017.month,monarch_2017.latitude,s=150, alpha = 0.5,color = 'blue',edgecolor = 'black',linewidth=0.75)
plt.scatter(monarch_2018.month,monarch_2018.latitude,s=50 ,alpha = 0.4,color = 'red',edgecolor = 'black',linewidth=0.75)

plt.show()

In [ ]:
plt.scatter(monarch_2017.longitude,monarch_2017.month,s=150, alpha = 0.5,color = 'blue',edgecolor = 'black',linewidth=0.75)
plt.scatter(monarch_2018.longitude,monarch_2018.month,s=50 ,alpha = 0.4,color = 'red',edgecolor = 'black',linewidth=0.75)

In [ ]:
plt.scatter(monarch_2017.latitude,monarch_2017.longitude,s=50, alpha = 0.5,color = 'blue',edgecolor = 'black',linewidth=0.75)
plt.scatter(monarch_2018.latitude,monarch_2018.longitude,s=50 ,alpha = 0.4,color = 'red',edgecolor = 'black',linewidth=0.75)
plt.scatter(monarch_2018.latitude,monarch_2018.longitude,s=50 ,alpha = 0.4,color = 'red',edgecolor = 'black',linewidth=0.75)

In [ ]:
ind = np.arange(monarch_adj.month)    # the x locations for the groups
width = 0.35       # the width of the bars: can also be len(x) sequence
lon1 = plt.bar(ind, monarch_2017.longitude, width, yerr=stderr_lon_2017)
lon2 = plt.bar(ind, monarch_2018.longitude, width,
             bottom=monarch_2018.longitude, yerr=stderr_lon_2018)

plt.ylabel('Count')
plt.xticks(ind, ('4', '5', '6', '7', '8', '9', '10', '11', '12'))
plt.yticks(np.arange(0, 200, 10))

plt.show()